{
 "presets": [["es2015",{"loose": true, "modules": false}], "react", "stage-2"],
 "plugins": [
   "add-module-exports",
   "babel-plugin-transform-class-properties",
   "external-helpers"
 ],
 "env": {
    "cjs": {
      "presets": [
        ["es2015", {"loose": true, "modules": "commonjs"}]
      ],
      "plugins": ["add-module-exports", "babel-plugin-transform-class-properties"]
    }
  }
}


